{% load static %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <address>
                Written by <a href="mailto:memullin@memullinart.com">Mary Mullin</a>.<br>
                Visit us at:<br>
                Example.com<br>
                Box 564, Disneyland<br>
                USA
            </address>
</div>

        <div class="col-8">right side</div>
    </div>
</div>


<!-- <nav class="navbar navbar-dark bg-dark navbar-expand-md">
     <div class="container">
     <a class="navbar-brand" href="#">
     <img src="{% static 'img/beach_resize.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
     Bootstrap
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseLinks" aria-expanded="false" aria-label="Toggle Navigation">
     <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarCollapseLinks">
     <ul class="navbar-nav">
     <li class="nav-item">
     <a href="#" class="nav-link"> Home</a>
     </li>
     <li class="nav-item">
     <a href="#" class="nav-link"> Products</a>
     </li>
     <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Dropdown link
     </a>

     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
     <a class="dropdown-item" href="#">Action</a>
     <a class="dropdown-item" href="#">Another action</a>
     <a class="dropdown-item" href="#">Something else here</a>
     </div>
     </li>
     </ul>

     <form class="form-inline ml-auto my-2 my-lg-0">
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>
     </div>
     </div>
     </nav>

     <div class="container">
     <div class="row">
     <div class="col col-12">
     <div class="alert alert-primary" role="alert">
     NAV
     </div>
     </div>
     </div>

     <div class="row">
     <div class="col-12 col-lg-2 order-1">
     <div class="alert alert-primary">
     Top Content Item
     </div>
     </div>
     <div class="col-11 col-lg-8 mx-auto order-6">
     <div class="alert alert-primary" style="min-height:800px">
     CONTENT
     </div>
     </div>

     <div class="col-12 mx-auto col-lg-2 order-12">
     <div class="alert alert-primary">
     bottom content
     </div>
     </div>
     </div>


     </div>
-->
