{% load static %}


<hr>
<div class="row">
    <div class="col-6 col-md-4 col-lg-3 mb-3 mx-auto">
        <div class="view overlay zoom">
            <img src="{% static 'img/memullinart/dc_capitol.jpg' %}" class="img-fluid" />
            <div class="mask flex-center rgba-black-strong">
                <p class="white-text">Washington D.C.</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mb-3 mx-auto">
        <div class="view overlay zoom">
            <img src="{% static 'img/memullinart/foreign-shores_alongSiene_sm.jpg' %}" class="img-fluid" />
            <div class="mask flex-center rgba-black-strong">
                <p class="white-text">Foreign Shores</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mb-3 mx-auto">
        <div class="view overlay zoom">
            <img src="{% static 'img/memullinart/wp-michie-stadium_sm.jpg' %}" class="img-fluid" />
            <div class="mask flex-center rgba-black-strong">
                <p class="white-text">West Point Gallery</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mb-3 mx-auto">
        <div class="view overlay zoom">
            <img src="{% static 'img/memullinart/f_bostonFishPier.jpg' %}" class="img-fluid" />
            <div class="mask flex-center rgba-black-strong">
                <p class="white-text">Light overlay</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 mb-3 ml-auto">
                <div class="view overlay zoom">
                    <img src="{% static 'img/memullinart/cape_timscove_sm.jpg' %}" class="img-fluid" />
                    <div class="mask flex-center rgba-black-strong">
                        <p class="white-text">Light overlay</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-3">
                <div class="view overlay zoom">
                    <img src="{% static 'img/memullinart/usa_jessieTree_sm.jpg' %}" class="img-fluid" />
                    <div class="mask flex-center rgba-blue-light">
                        <p class="white-text">Light overlay</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-3 mr-auto">
                <div class="view overlay zoom">
                    <img src="{% static 'img/memullinart/commissions_7Arlington_sm.jpg' %}" class="img-fluid" />
                    <div class="mask flex-center rgba-blue-light">
                        <p class="white-text">Light overlay</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
