{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="text-center text-dark">
    <h1>{{ title }}</h1>
    <p>asdf</p>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{% static 'img/beach.jpg' %}" class="img-fluid" />
            <p>{{ content }}</p>
        </div>
    </div>

    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col">
            <h1>Premium</h1>
            {{ premium_content }}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
