{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        <h4>{{ object.title }}</h4>
        {{ object.timestamp | date  }}
        <h7>{{ object.description | linebreaks }}</h7>
        {% if object.image %}
        <img  src="{{object.image.url}}" class="img-fluid">
        {% endif %}
    </div>
    <div class="col-12 col-md-6">
        {% if object in cart.products.all %}
        In Cart <button class="btn btn-link">Remove?</button>
        {% else %}
        <button class="btn btn-success">Add to Cart</button>
        {% endif %}
    </div>
</div>

{% endblock %}
<!-- <p>{{ obj.desc }}</p> -->
